/*DEVELOPER: Alyssa Ramroop, IS117-001, Fall 2021 */

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #ffc88e;
}

div.dropdown-menu ul li {
    list-style-type: none;
    text-decoration: none;
}

.card

body {
    font-family: "Verdana", sans-serif;
    font-size: 100%;
    background-color: rgb(243, 255, 252);
    padding-bottom: 2em;
    margin-top: 0;
    margin-bottom: 0em;
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
    align-content: center;
    text-align: center;
}

@media screen and (min-width: 480px) {

}

#title {
    font-family: "Lucida Handwriting", cursive;
    text-align: center;
    font-size: 250%;
}

header{
    padding-top: 1.5em;
    padding-bottom: 1em;
    background-color: #f3b17a;
    text-align: center;
}

#main {
    align-content: center;
}
/* nav menu styles */

nav {
    background-color: #f3b17a;
}

#nav_menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f3b17a;
}

#nav_menu li {
    float: left;
    text-align: center;
    align-content: center;
}

#nav_menu li a {
    display: block;
    width: 160px;
    text-align: center;
    padding: 1em;
    padding-bottom: 2em;
    text-decoration: none;
    background-color: #f3b17a;
    color: black;
    font-weight: bold;
}

#nav_menu {
    list-style: none;
    position: relative;
}

#nav_menu ul {
    display: none;
    position: absolute;
    top: 100%;
    text-decoration: none;
}

#nav_menu ul li {
    float: none;
    list-style-type: none;
}

#nav_menu li:hover > ul {
    display: block;
}

#nav_menu::after {
    content: " ";
    display: block;
    clear: both;
}
main {
    margin: 3em;
}

main h3 {
    text-align: center;
    padding: 1em;
    font-size: 200%;
    font-family: "Sofia", sans-serif;
}

main h4 {
    padding: 1em;
    font-family: "Sofia", sans-serif;
    font-size: 140%;
    text-align: center;
}

main a img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    box-shadow: 10px 10px #c0c0c0;
    display: block;
}

div.gallery {
    width: 180px;
    float: left;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100px;
    height: 100px;
    float: left;
    list-style-image: none;
    list-style-type: none;
}

.gallery a ul {
    text-decoration: none;
    list-style-type: none;
    display: block;
    float: left;
}

.navbar-brand img{
    width: 3em;
    height: 3em;
    color: #f3b17a;
}


@media only screen and (max-width: 798px) {
    body {
        margin: 3em;
        position: absolute;
    }
    footer {
        margin: 1em;
        position: absolute;
    }
}

footer span {
    text-align: center;
    font-size: 100%;
    padding-top: 0.5em;
    padding-bottom:0.5em;
}

